<div class="container">
  <div class="row">

    <div class="col-lg-4">

      <div>
        <h3>User Info</h3>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>name</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>introduction</th>
              <td><%= %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <%= link_to "edit", edit_user_path(@user), class: "btn btn-secondary" %>
      </div>

      <%= render 'books/new' %>
    </div>

    <div class="col-lg-8">
      <h3>Books</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>